@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@300&family=Rubik+Distressed&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*----Header-----*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
    margin: 15px;

}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li {
    margin: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px;
    font-size: 15px;
    font-family: 'Anek Devanagari', sans-serif;

}

header nav ul .index-button {
    transition: 1s;
}

header nav ul .index-button:hover {
    transform: scale(1.1);
}

header nav ul .elaboracion-button {
    transition: 1s;
}

header nav ul .elaboracion-button:hover {
    transform: scale(1.1);
}

header nav ul .galeria-button {
    transition: 1s;
}

header nav ul .galeria-button:hover {
    transform: scale(1.1);
}

header nav ul .nosotros-button {
    transition: 1s;
}

header nav ul .nosotros-button:hover {
    transform: scale(1.1);
}

header nav ul .contacto-button {
    transition: 1s;
}

header nav ul .contacto-button:hover {
    transform: scale(1.1);
}


/*----Main-----*/
main .hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .hero .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .hero h2 {
    color: black;
    font-size: 25px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
}

main .hero p {
    color: black;
    font-size: 15px;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

main .hero img {
    width: 100%;
    height: 50vh;
}

main .productos {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
    background-color: antiquewhite;
}

main .productos-titulo {
    color: white;
    font-size: 25px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(154, 154, 154, 1) 100%);
    text-align: center;
    margin-bottom: 5px;
}

main .productos .productos-macetas a {
    text-decoration: none;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}


main .productos .productos-macetas img {
    width: 550px;
    height: 50vh;
    position: relative;
    object-fit: cover;
}

main .productos .productos-macetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 1s;
    margin: 15px;
}


main .productos .productos-macetas:hover {
    transform: scale(1.1);
    box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
}

main .productos .productos-llaveros a {
    text-decoration: none;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}


main .productos .productos-llaveros img {
    width: 550px;
    height: 50vh;
    position: relative;
    object-fit: cover;
}

main .productos .productos-llaveros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 1s;
    margin: 15px;
}


main .productos .productos-llaveros:hover {
    transform: scale(1.1);
    box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
}

main .productos .productos-figuras a {
    text-decoration: none;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}


main .productos .productos-figuras img {
    width: 550px;
    height: 50vh;
    position: relative;
    object-fit: cover;
}

main .productos .productos-figuras {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 1s;
    margin: 15px;
}


main .productos .productos-figuras:hover {
    transform: scale(1.1);
    box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
}



main .proceso {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main .proceso .proceso-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .proceso p {
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
}

main .proceso a {
    text-decoration: none;
    border: 1px solid black;
    padding: 8px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-color: rgba(250, 235, 215, 0.575);
    transition: 1s;
}

main .proceso a:hover {
    transform: scale(1.1);
}

main .proceso div img {
    width: 100%;
    height: 50vh;
}


/*-----Galeria-----*/
.galeria {
    width: 100%;
    height: 100%;

}

.galeria h3 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(154, 154, 154, 1) 100%);
    padding: 15px;
}

.galeria .galeria-macetas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.galeria .galeria-macetas a {
    text-decoration: none;
    transition: 1s;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}

.galeria .galeria-macetas a:hover {
    transform: scale(1.1);
}

.galeria .galeria-macetas img {
    width: 350px;
    height: 350px;
    position: relative;
}

.galeria .galeria-macetas-uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 1s;
}

.galeria .galeria-macetas-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 1s;
}

.galeria .galeria-macetas-tres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.galeria .galeria-macetas-cuatro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.galeria .galeria-macetas-cinco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.galeria .galeria-macetas-seis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.galeria .galeria-llaveros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.galeria .galeria-llaveros a {
    text-decoration: none;
    transition: 1s;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}

.galeria .galeria-llaveros a:hover {
    transform: scale(1.1);
}

.galeria .galeria-llaveros img {
    width: 350px;
    height: 350px;
    position: relative;
}

.galeria .galeria-llaveros-uno {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-llaveros-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.galeria .galeria-figuras a {
    text-decoration: none;
    transition: 1s;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}

.galeria .galeria-figuras a:hover {
    transform: scale(1.1);
}

.galeria .galeria-figuras img {
    width: 350px;
    height: 350px;
    position: relative;
}

.galeria .galeria-figuras-uno {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras-tres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras-cuatro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras-cinco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras-seis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}


/*-----Contacto-----*/


.contacto-h h2{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(154, 154, 154, 1) 100%);
    padding: 15px;
}


.contacto p {
    color: black;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    justify-content: center;
    margin: 10px;
}

.contacto-icono {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contacto-icono img {
    width: 25px;
    height: 25px;
    margin: 10px;
}

.contacto-parrafo p {
    width: 60%;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    margin: auto;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nombre {
    width: 300px;
    font-family: 'Anek Devanagari', sans-serif;
}

.apellido {
    width: 300px;
    font-family: 'Anek Devanagari', sans-serif;
}

.email {
    width: 300px;
    font-family: 'Anek Devanagari', sans-serif;
}

.telefono {
    width: 300px;
    font-family: 'Anek Devanagari', sans-serif;
}

.textbox {
    width: 340px;
    font-family: 'Anek Devanagari', sans-serif;
}

.gatos-contacto {
    grid-area: gatos;
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 100%;
}



/*-----Proceso----*/
.grid-proceso {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    margin: 15px;
}

.grid-proceso div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-proceso p {
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    text-align: justify;
    margin: 5px;
}


/*----Footer----*/
footer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h2 {
    text-align: center;
    color: white;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    font-weight: 400
}

footer p {
    text-align: center;
    color: white;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 10px;
    font-weight: 400
}

footer h3 {
    text-align: center;
    color: white;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    font-weight: 400
}

footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

footer div .ig-logo {
    transition: 1s;
}

footer div .ig-logo:hover {
    transform: scale(1.2);
}

footer div .ws-logo {
    transition: 1s;
}

footer div .ws-logo:hover {
    transform: scale(1.2);
}

footer div .fb-logo {
    transition: 1s;
}

footer div .fb-logo:hover {
    transform: scale(1.2);
}

/*-----Media Query----*/

@media screen and (max-width:1090px) {

    /*----Index----*/

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .productos {
        display: flex;
        flex-direction: column;
    }

    main .productos-titulo {
        font-size: 20px;
    }

    .proceso {
        flex-direction: column;
    }

    .proceso .proceso-text a {
        margin-bottom: 15px;
    }
}

@media screen and (max-width:755px) {

    /*-----Galeria----*/

    .galeria h3 {
        font-size: 17px;
        padding: 10px;
    }

    .galeria .galeria-macetas-uno img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-macetas-uno a {
        font-size: 13px;
    }

    .galeria .galeria-macetas-dos img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-macetas-dos a {
        font-size: 13px;
    }

    .galeria .galeria-macetas-tres img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-macetas-tres a {
        font-size: 13px;
    }

    .galeria .galeria-macetas-cuatro img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-macetas-cuatro a {
        font-size: 13px;
    }

    .galeria .galeria-macetas-cinco img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-macetas-cinco a {
        font-size: 13px;
    }

    .galeria .galeria-macetas-seis img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-macetas-seis a {
        font-size: 13px;
    }

    .galeria-llaveros h3 {
        font-size: 17px;
        padding: 10px;
    }

    .galeria .galeria-llaveros-uno img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-llaveros-uno a {
        font-size: 13px;
    }

    .galeria .galeria-llaveros-dos img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-llaveros-dos a {
        font-size: 13px;
    }

    .galeria-figuras h3 {
        font-size: 17px;
        padding: 10px;
    }

    .galeria .galeria-figuras-uno img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-figuras-uno a {
        font-size: 13px;
    }

    .galeria .galeria-figuras-dos img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-figuras-dos a {
        font-size: 13px;
    }

    .galeria .galeria-figuras-tres img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-figuras-tres a {
        font-size: 13px;
    }

    .galeria .galeria-figuras-cuatro img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-figuras-cuatro a {
        font-size: 13px;
    }

    .galeria .galeria-figuras-cinco img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-figuras-cinco a {
        font-size: 13px;
    }

    .galeria .galeria-figuras-seis img {
        width: 250px;
        height: 250px;
    }

    .galeria .galeria-figuras-seis a {
        font-size: 13px;
    }
}

@media screen and (max-width:585px) {

    /*-----Header----*/

    header nav ul div {
        flex-direction: column;
    }

    /*----Index----*/

    main .hero h2 {
        font-size: 20px;
    }

    main .hero img {
        width: 100%;
        height: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    main .productos .productos-macetas img {
        width: 450px;
    }

    main .productos .productos-llaveros img {
        width: 450px;
    }

    main .productos .productos-figuras img {
        width: 450px;
    }

    main .productos .productos-macetas a {
        font-size: 15px;
    }

    main .productos .productos-llaveros a {
        font-size: 15px;
    }

    main .productos .productos-figuras a {
        font-size: 15px;
    }

    main .proceso div img {
        width: 100%;
        height: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    main .proceso div a {
        font-size: 15px;
    }



@media screen and (max-width:500px) {

    /*------Index----*/

    main .productos .productos-macetas img {
        width: 320px;
        height: 100%;
    }

    main .productos .productos-llaveros img {
        width: 320px;
        height: 100%;
    }

    main .productos .productos-figuras img {
        width: 320px;
        height: 100%;
    }

    }

@media screen and (max-width:420px) {

    /*-----Header----*/

    header img {
        width: 90px;
        height: 90px;
    }

    header nav ul div a {
        font-size: 13px;
    }

    /*------Index----*/

    main .hero p {
        font-size: 14px;
        margin: 10px;
    }

    main .proceso p {
        font-size: 14px;
        margin: 10px;
    }

    main .proceso a {
        font-size: 14px;
    }
    /*-----Contacto-----*/

    .contacto-h h2{
        font-size: 20px;
    }

    .contacto p{
        font-size: 15px;
    }

    .contacto-icono img{
        width: 15px;
        height: 15px;
    }

    .contacto-parrafo p{
        font-size: 15px;
    }

    .nombre{
        font-size: 15px;
    }

    .apellido{
        font-size: 15px;
    }

    .email{
        font-size: 15px;
    }

    .telefono{
        font-size: 15px;
    }

}

    /*-----Footer----*/

    footer img {
        width: 35px;
        height: 35px;
    }

    footer h2 {
        font-size: 15px;
    }

    footer h3 {
        font-size: 15px;
    }
}