@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@300&family=Rubik+Distressed&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*----Header-----*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
    margin: 15px;

}

header nav ul {
    list-style: none;
    display: flex;
    margin-top: 10px;
}

header nav ul div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li {
    margin: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px;
    font-size: 15px;
    font-family: 'Anek Devanagari', sans-serif;

}

header nav ul .index-button {
    transition: 1s;
}

header nav ul .index-button:hover {
    transform: scale(1.1);
}


header nav ul .elaboracion-button {
    transition: 1s;
}

header nav ul .elaboracion-button:active{
    background-color: white;
    transition: 1ms;
}

header nav ul .elaboracion-button:hover {
    transform: scale(1.1);
}

header nav ul .galeria-button {
    transition: 1s;
}

header nav ul .galeria-button:active{
    background-color: white;
    transition: 1ms;
}

header nav ul .galeria-button:hover {
    transform: scale(1.1);
}

header nav ul .nosotros-button {
    transition: 1s;
}

header nav ul .nosotros-button:active{
    background-color: white;
    transition: 1ms;
}

header nav ul .nosotros-button:hover {
    transform: scale(1.1);
}

header nav ul .contacto-button {
    transition: 1s;
}

header nav ul .contacto-button:active{
    background-color: white;
    transition: 1ms;
}

header nav ul .contacto-button:hover {
    transform: scale(1.1);
}


/*----Main-----*/
main .hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .hero .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

main .hero h2 {
    color: black;
    font-size: 25px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
}

main .hero p {
    width: 100%;
    color: black;
    font-size: 15px;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

main .slogan p{
    color: black;
    font-size: 15px;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

main .hero img {
    width: 100%;
    height: 50vh;
}

main .productos {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
    background-color: antiquewhite;
}

main .productos-titulo {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(154, 154, 154, 1) 100%);
    padding: 15px;
    margin-top: 10px;
}

main .productos .productos-macetas a {
    text-decoration: none;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}


main .productos .productos-macetas img {
    width: 450px;
    height: 45vh;
    position: relative;
    object-fit: cover;
}

main .productos .productos-macetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 1s;
    margin: 15px;
}


main .productos .productos-macetas:hover {
    transform: scale(1.1);
    box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
}

main .productos .productos-llaveros a {
    text-decoration: none;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}


main .productos .productos-llaveros img {
    width: 450px;
    height: 45vh;
    position: relative;
    object-fit: cover;
}

main .productos .productos-llaveros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 1s;
    margin: 15px;
}


main .productos .productos-llaveros:hover {
    transform: scale(1.1);
    box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
}

main .productos .productos-figuras a {
    text-decoration: none;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}


main .productos .productos-figuras img {
    width: 450px;
    height: 45vh;
    position: relative;
    object-fit: cover;
}

main .productos .productos-figuras {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 1s;
    margin: 15px;
}

main .productos .productos-figuras:hover {
    transform: scale(1.1);
    box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 14px 20px 25px 2px rgba(0, 0, 0, 0.4);
}

main .proceso {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main .proceso .proceso-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

main .proceso p {
    width: 100%;
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
}

main .proceso h2 {
    color: black;
    font-size: 25px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
}

main .proceso a {
    text-decoration: none;
    border: 1px solid black;
    padding: 8px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    background-color: rgba(250, 235, 215, 0.575);
    transition: 1s;
}

main .proceso a:hover {
    transform: scale(1.1);
}

main .proceso div img {
    width: 60vh;
    height: 40vh;
}


/*-----Galeria-----*/
.galeria {
    width: 100%;
    height: 100%;

}

.galeria h2 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(154, 154, 154, 1) 100%);
    padding: 15px;
}

.galeria .galeria-macetas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.galeria .galeria-macetas a {
    text-decoration: none;
    transition: 1s;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}

.galeria .galeria-macetas a:hover {
    transform: scale(1.1);
}

.galeria .galeria-macetas img {
    width: 320px;
    height: 340px;
    position: relative;
}

.galeria .galeria-macetas-uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 1s;
}

.galeria .galeria-macetas-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 1s;
}

.galeria .galeria-macetas-tres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.galeria .galeria-macetas-cuatro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.galeria .galeria-macetas-cinco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.galeria .galeria-macetas-seis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.galeria .galeria-llaveros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.galeria .galeria-llaveros a {
    text-decoration: none;
    transition: 1s;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}

.galeria .galeria-llaveros a:hover {
    transform: scale(1.1);
}

.galeria .galeria-llaveros img {
    width: 320px;
    height: 340px;
    position: relative;
}

.galeria .galeria-llaveros-uno {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-llaveros-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.galeria .galeria-figuras a {
    text-decoration: none;
    transition: 1s;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(250, 235, 215, 0.575)
}

.galeria .galeria-figuras a:hover {
    transform: scale(1.1);
}

.galeria .galeria-figuras img {
    width: 320px;
    height: 340px;
    position: relative;
}

.galeria .galeria-figuras-uno {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras-tres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras-cuatro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras-cinco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.galeria .galeria-figuras-seis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

/*-------Servicios-----*/
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.modelado-3d {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modelado-3d h3 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(154, 154, 154, 1) 100%);
    padding: 15px;
}

.modelado-3d p {
    width: 70%;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    padding: 5px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}


.modelado-3d img {
    width: 100%;
    height: 400px;
}

.impresion-3d {
    width: 100%;
}

.impresion-3d h3 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(154, 154, 154, 1) 100%);
    padding: 15px;
}

.impresion-3d p {
    width: 70%;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    padding: 5px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}

.impresion-3d img {
    width: 100%;
    height: 400px;
}

.pintado {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pintado h3 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(154, 154, 154, 1) 100%);
    padding: 15px;
}

.pintado p {
    width: 70%;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    padding: 5px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}

.pintado img {
    width: 100%;
    height: 400px;
}

.reparacion {
    width: 100%;
    margin-bottom: 10px;
}

.reparacion h3 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(154, 154, 154, 1) 100%);
    padding: 15px;
}

.reparacion p {
    width: 70%;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    padding: 5px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}

.reparacion img {
    width: 100%;
    height: 400px;
}


/*-----Contacto-----*/

h1 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: bold;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(154, 154, 154, 1) 100%);
    padding: 15px;
}


.contacto p {
    color: black;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    justify-content: center;
    margin: 10px;
}

.contacto-icono {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contacto-icono img {
    width: 25px;
    height: 25px;
    margin: 10px;
}

.contacto-parrafo p {
    width: 60%;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    margin: auto;
}

.slogan-contacto p{
    color: black;
    font-size: 15px;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nombre {
    width: 300px;
    font-family: 'Anek Devanagari', sans-serif;
}

.apellido {
    width: 300px;
    font-family: 'Anek Devanagari', sans-serif;
}

.email {
    width: 300px;
    font-family: 'Anek Devanagari', sans-serif;
}

.telefono {
    width: 300px;
    font-family: 'Anek Devanagari', sans-serif;
}

.textbox {
    width: 340px;
    font-family: 'Anek Devanagari', sans-serif;
}



/*-----Elaboracion----*/

.grid-proceso {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.grid-proceso div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-proceso p {
    width: 100%;
    margin: 20px;
    padding: 15px;
    color: black;
    font-size: 20px;
    font-family: 'Anek Devanagari', sans-serif;
    text-align: center;
}

.video-impresion {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-impresion iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-pintado {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-pintado iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*----Footer----*/
footer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h2 {
    text-align: center;
    color: white;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    font-weight: 400
}

footer p {
    text-align: center;
    color: white;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 10px;
    font-weight: 400
}

footer h3 {
    text-align: center;
    color: white;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    font-weight: 400
}

footer img {
    width: 45px;
    height: 45px;
    margin: 10px;
}

footer div .ig-logo {
    transition: 1s;
}

footer div .ig-logo:hover {
    transform: scale(1.2);
}

footer div .ws-logo {
    transition: 1s;
}

footer div .ws-logo:hover {
    transform: scale(1.2);
}

footer div .fb-logo {
    transition: 1s;
}

footer div .fb-logo:hover {
    transform: scale(1.2);
}

/*-----Media Query----*/

    /*------Elaboracion-----*/

@media screen and (max-width:1310px){
    .grid-proceso p{
        font-size: 17px;
    }
}


@media screen and (max-width:1090px) {

    /*----Index----*/

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .productos {
        display: flex;
        flex-direction: column;
    }

    main .productos-titulo {
        font-size: 20px;
    }

    .proceso {
        flex-direction: column;
    }

    .proceso .proceso-text a {
        margin-bottom: 15px;
    }

    /*-------Servicios----*/

    .servicios section img{
        height: 300px;
    }

    .servicios section p{
        margin-top: 25px;
    }

}

@media screen and (max-width:990px){
    
    /*-----Elaboracion-----*/

    .grid-proceso p{
        font-size: 15px;
        margin: 0;
    }
}


@media screen and (max-width:767px) {

    /*-----Servicios----*/

    .servicios section img{
        width: 50%;
        height: 300px;
    }

    .servicios section h3{
        width: 100%;
    }
}


@media screen and (max-width:755px) {

    /*-----Galeria----*/

    .galeria h3 {
        font-size: 17px;
        padding: 10px;
    }

    .galeria .galeria-macetas img{
        width: 250px;
        height: 290px;
    }

    .galeria .galeria-macetas a{
        font-size: 13px;
    }

    .galeria .galeria-llaveros img{
        width: 250px;
        height: 290px;
    }

    .galeria .galeria-llaveros a{
        font-size: 13px;
    }

    .galeria .galeria-figuras img{
        width: 250px;
        height: 290px;
    }

    .galeria .galeria-figuras a{
        font-size: 13px;
    }

    .galeria-llaveros h3 {
        font-size: 17px;
        padding: 10px;
    }


    .galeria-figuras h3 {
        font-size: 17px;
        padding: 10px;
    }

    /*-----Elaboracion-----*/

    .grid-proceso {
        margin-top: 15px;
        display: grid;
        gap: 20px;
        grid-template-areas:
            "impresion-txt"
            "video-impresion"
            "pintado-txt"
            "video-pintado";
    }

    .elaboracion-impresion-text {
        grid-area: impresion-txt;
        grid-column: span 2;
    }

    .video-impresion {
        grid-area: video-impresion;
        grid-column: span 2;
    }

    .elaboracion-pintado-text {
        grid-area: pintado-txt;
        grid-column: span 2;
    }

    .video-pintado {
        grid-area: video-pintado;
        grid-column: span 2;
    }
}

@media screen and (max-width:585px) {
    /*-----Header----*/

    header nav ul div {
        flex-direction: column;
    }
    

    /*----Index----*/

    main .hero h2 {
        font-size: 20px;
    }

    main .hero img {
        width: 100%;
        height: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    main .productos .productos-macetas img {
        width: 400px;
    }

    main .productos .productos-llaveros img {
        width: 400px;
    }

    main .productos .productos-figuras img {
        width: 400px;
    }

    main .productos .productos-macetas a {
        font-size: 15px;
    }

    main .productos .productos-llaveros a {
        font-size: 15px;
    }

    main .productos .productos-figuras a {
        font-size: 15px;
    }

    main .proceso div img {
        width: 100%;
        height: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    main .proceso div a {
        font-size: 15px;
    }


    /*-----Servicios----*/

    .servicios section h3{
        font-size: 17px;
        padding: 10px;
    }

    .servicios section p{
        font-size: 13px;
    }

}


@media screen and (max-width:500px) {

    /*----Header----*/

    header{
        padding-right: 40px;
    }

    /*------Index----*/

    main .productos .productos-macetas img {
        width: 320px;
        height: 340px;
    }

    main .productos .productos-llaveros img {
        width: 320px;
        height: 340px;
    }

    main .productos .productos-figuras img {
        width: 320px;
        height: 340px;
    }

    /*----Servicios----*/

    .servicios section img{
        height: 200px;
    }

}


@media screen and (max-width:420px) {
    /*-----Header----*/

    header img {
        width: 90px;
        height: 90px;
    }

    header nav ul div a {
        font-size: 13px;
    }

    /*------Index----*/

    main .hero p {
        font-size: 14px;
        margin: 10px;
    }

    main .proceso p {
        font-size: 14px;
        margin: 10px;
    }

    main .proceso a {
        font-size: 14px;
    }

    /*-----Contacto-----*/

    .contacto-h h2 {
        font-size: 20px;
    }

    .contacto p {
        font-size: 15px;
    }

    .contacto-icono img {
        width: 15px;
        height: 15px;
    }

    .contacto-parrafo p {
        font-size: 15px;
    }


    /*-----Footer----*/

    footer img {
        width: 35px;
        height: 35px;
    }

    footer h2 {
        font-size: 15px;
    }

    footer h3 {
        font-size: 15px;
    }
}