/*----Contacto----*/
main{
    h1{
        @extend %pag-h1;
    }
    .contact{
        .contacto-cont{
            .contacto-intro{
                .contacto-icono{
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    img{
                        width: 25px;
                        height: 25px;
                        margin: 10px;
                    }
                }
                .contacto-info{
                    p{
                        color: black;
                        font-family: 'Anek Devanagari', sans-serif;
                        font-size: 20px;
                        justify-content: center;
                        margin: 10px;
                    }
                }
            }
            .contacto-text{
                .contacto-parrafo{
                    p{
                        @extend %parrafos;
                    }
                    .slogan-contacto{
                        p{
                            color: black;
                            font-size: 15px;
                            font-family: 'Anek Devanagari', sans-serif;
                            font-size: 20px;
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
            }
            .formulario{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .nombre{
                    @extend %formulario;
                }
                .apellido{
                    @extend %formulario;
                }
                .email{
                    @extend %formulario;
                }
                .telefono{
                    @extend %formulario;
                }
                .textbox{
                    @extend %formulario;
                }
            }
        }
    }
}